.venv

*.py[cod]
*$py.class
venv
.eggs
.pytest_cache
*.egg-info
.DS_Store
dist/
build/

# Caches

*_cache/
__pycache__/

# Coverage.py
htmlcov/
reports/

# temporary files
.tmp/
tmp/
scratch/

# Secrets
.env.secret
.env.secrets

# Data
*.csv*
*.dat*
*.pickle*
*.xls*
*.zip*

# Databases
*.sqlite*
*.db
*.rdb
